<div class="row">
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        Details
      </div>
      <div class="panel-body">
        <table class="market_details table table-hover">
          <thead>
            <tr>
              <th class='col-md-1'> Sl No.</th>
              <th class='col-md-1'> Date </th>
              <th class='col-md-1'> Event Type</th>
              <th class='col-md-1'> Market Type</th>
              <th class='col-md-1'> Venue </th>
              <th class='col-md-2'> Name </th>
              <th class='col-md-3'> Runners </th>
              <th class='col-md-1'> Profit/Loss </th>
            </tr>
          </thead>
          {{#each market_details}}
            <tr>
              <td>{{increment @index}}</td>
              <td>{{start_time}}</td>
              <td>{{event_type}}</td>
              <td>{{market_type}}</td>
              <td>{{venue}}</td>
              <td>{{name}}</td>
              <td>{{runners_summary}}</td>
              <td>{{amount}}</td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</div>

